@model BLL.Dto.Menu

@{
    ViewBag.Title = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Вы уверены насчет удаления?</h3>
<div>
    <hr />
    @using (Html.BeginForm("DeleteMenuCommand", "Institution", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
