@model BLL.Dto.Meal

@{
    ViewBag.Title = "Подробности блюда";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<h4>Ингредиенты</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients[0].Name)
        </th>
    </tr>

    @foreach (var item in Model.Ingredients)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>